{{#if currentUser}}
<div class="pink-line-container">
    <div class="pink-line"></div>
</div>
<div class="footer-container">
    <div class="footer">
        <div class="footer-1">
            <div class="title-footer">ArtCoolT</div>
            <div class="Descript-footer">ArtCoolT: the best continuous crowfunding platform to Creators</div>
        </div>
        <div class="footer-2">
            <li>Home</li>
            <li>Genero</li>
            <li>Follow</li>
            <li>Profile</li>
            <li>Edit</li>
            <li>Logout</li>
        </div>
        <div class="footer-3">
            <div class="sign-news">Regístrate para recibir a newsletter</div>  
            <div class="sign-news-search"><input type="text"></div>  
        </div>
    </div>
    <div class="pink-line-container">
        <div class="pink-line"></div>
    </div>
    <div class="logo-footer-container"><img src="../images/logo-artcoolt-login-pink.png"></div>
</div>
{{/if}}