<div class="nav-container"> <!-- Nav -->
    <div class="nav-skin">
        <div class="logo"><img src="images/logo-artcoolt.png"></div>

        <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
                </li>

                 <button type="button" class="btn btn-login">
                  <li class="nav-item">
                  <a class="nav-link" href="#">Log In</a>
                  </li>
                </button>

                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
        </ul>
    </div>
</div> <!-- Fin de Nav -->