{{!-- <div class="nav-container">



<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

    </nav>
    <!-- Page Content -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>
    </div>
</div> --}}
















  
  <!-- Nav -->
  <div class="nav-skin">
    <a href="/">
      <div class="logo"><img src="/images/logo-artcoolt.png"></div>
    </a>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>

      <button type="button" class="btn btn-login">
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
      </button>

      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>

      {{#if currentUser}}
      <!--Si esta en sesion de currentuser, muestra este botón-->
        <a href="/users/{{currentUser._id}}" class="btn-profile">
          <li class="nav-item">
            Profile
          </li>
        </a>
      {{/if}}


      {{#if currentUser}}
      <!--Si esta en sesion de currentuser, muestra este botón-->
        <a href="/users/{{currentUser._id}}/edit" class="btn-profile">
          <li class="nav-item">
            Edit
          </li>
        </a>
      {{/if}}


      {{#if currentUser}}
      <!--Si esta en sesion de currentuser, muestra este botón-->
      <form action="/logout" method="post">
        <button type="submit" class="btn btn-logout">
          <li class="nav-item">
            Logout
          </li>
        </button>
      </form>
      {{/if}}


    </ul>
  </div>





</div> <!-- Fin de Nav -->