  <div class="support-container">
    <div class="support-name">
      Support {{this.name}}
    </div>
    <div class="support-buttons">
      <a href="#"><div class="button1">Support</div></a>
      <a href="#"><div class="button2">Like</div></a>
    </div>
  <div class="about-container">
    <div class="about-name">
      About {{this.name}}
    </div>
    <div class="">
      {{this.bio}}
    </div>
  </div>

  <div class="petition">
    <div class="container-profile-pic"><img src="/images/logo-artcoolt.png" class="w-100 rounded-circle mb-3"/></div>
    <div class="container-profile-name">{{this.name}}</div>
      <div class="field">
        Welcome to my ArtCoolT Page. If you enjoy my content, please consider supporting what I do. Thank you.
    </div>  
  </div>
  </div>
    

