
{{#if this.artist}}
<div class="dona">
    <div class="dona-title">
        Cómprale una guitarra a {{user.name}}
    </div>

    <div class="dona-contador">
        <div class="menos"></div>
        <div class="cantidad">0</div>
        <div class="mas"></div>
    </div> 

  
    <textarea class="dona-message">
        Your message para {{user.name}}
    </textarea>
    

   <a href="#" class="dona-boton"> 
            Ayuda a {{user.name}}
    </a>
</div>
{{/if}}
<div class="post-profile-container">

    <div class="contenedor-boton">
        <div class="profile-title">
            Feed
        </div>
        <div class="profile-add">
            <img src="">
        </div>
    </div>

    <div class="text-anade">
        Añade tu primer post en ArtCoolT
    </div>

    <div class="boton-anade">
        + Añade Algo!
    </div>

    <div class="signed">
        Signed in as  
         <div class="container-profile-pic-signed"><img src="/images/logo-artcoolt.png" class="w-100 rounded-circle mb-3"></div>
        {{user.name}}
    </div>

</div>