<div class="main-container">
  {{!-- <img src="{{currentUser.profileimg}}" class="w-100 rounded-circle mb-3"/> --}}
  <div class="container-back-pic">
    <img src="/images/artcoolt-carousel-00.jpg" class="img-fluid"/>
  </div>

  <div class="container-main-pic">
    <img src="/images/logo-artcoolt.png" class="w-100 rounded-circle mb-3"/>
  </div>

  <div class="saludo">
    <h1>Hello {{currentUser.name}}</h1>
  </div>

</div>{{!-- Fin de main-container --}}


<div class="profile-menu">
  <div class="profile-menu-container">
    <div class="profile-page">
      <a href="">Page</a>
    </div>
    <div class="profile-page">
      <a href="">Gallery</a>
    </div>
    <div class="profile-page">
      <a href="">Posts</a>
    </div>
  </div>
</div>