<div class="container-about">
    <!-- Artista -->
    <div class="container-container-about">
        <div class="conviertete-title">...About...</div>
        <div class="about-logo">
            <img src="/images/logo-artcoolt.png">
        </div>
        <div class="conviertete-sub">
            1. Registrate<hr />
            2. Decide si eres artista o sigues a uno<hr />
            3. Dona para que tu artista pueda realizar sus proyectos<hr />
            4. Comenta y sube el contenido de los eventos a los que asistes y de lo que tu quieras!
        </div>
        <div class="content-about-botones">
            <div class="content0-boton-1">Comienza</div>
            <div class="content0-boton-2">Qué es ArtCoolt?</div>
        </div>
    </div>
</div> <!-- Fin de Artista -->