<div class="pink-line-container"><div class="pink-line"></div></div>
<div class="container-conviertete"> <!-- Artista -->
  <div class="container-container-conviertete">
    <div class="conviertete-title">Conviértete en Artista</div>
    <div class="conviertete-sub">Destaca en tu categoría, consigue que la gente te siga y lograr así que te apoyen para lograr tus sueños</div>
    <div class="conviertete-boton">SER ARTISTA</div>
    <div class="conviertete-image"><img src="images/instrumentos.jpg"></div>
  </div>
</div> <!-- Fin de Artista -->