
<div class="container-categorias"> <!-- Categorias -->
  <div class="container-container-categorias">
    <div class="categorias-title">Conviértete en Artista</div>
    <div class="categorias-sub">Destaca en tu categoría, consigue que la gente te siga y lograr así que te apoyen para lograr tus sueños</div>
  </div>
</div> <!-- Fin de Categorias -->