<div class="container-container-conviertete">
    <div class="quienes-title">Quiénes forman parte de ArtCoolT</div>
    <div class="quienes-sub">Aquí encontrarás quiénes son Usuario o Artistas!</div>

    <div class="quienes-container">
      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>