<div class="container-container-quienes">
    <div class="quienes-title">Quiénes forman parte de ArtCoolT</div>
    <div class="quienes-sub">Aquí encontrarás quiénes son Usuario o Artistas!</div>

    <div class="quienes-container">
    

 
  







  <div class="swiper-container">
    <div class="swiper-wrapper">
    {{#each users}}
      <div class="swiper-slide">
        <img src="{{this.profileimg}}" class="d-block w-100" alt="...">
        {{this.name}}
        {{this.bio}}
        <a href="/users/{{this.id}}" >Button</a>
      </div>
    {{/each}}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>




  




  </div>

</div>

    </div>
    
  </div>