<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel"> <!-- Carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="content0">
        <div class="content0-title">Sube tus Tracks</div>
        <div class="content0-sub">Para que tus seguidores puedan escuchar tus canciones y recomendarte!</div>
          <div class="content0-botones">
            <a href="/login"><div class="content0-boton-1">Comienza</div></a>
            <a href="/#about"><div class="content0-boton-2">Qué es ArtCoolt?</div></a>
          </div>
      </div>
      <img src="images/artcoolt-carousel-00.jpg" class="d-block w-100" alt="Artcoolt">
    </div>
    <div class="carousel-item">
        <div class="content1">
            <div class="content1-title">ArtCoolT</div>
            <div class="content1-sub">Conviértete en un artista y sigue a aquellos que te gustan y ayúdales a posicionarse</div>
              <div class="content1-botones">
                 <a href="/login"><div class="content1-boton-1">Comienza</div></a>
                <a href="/#about"><div class="content1-boton-2">Qué es ArtCoolt?</div></a>
              </div>
          </div>
      <img src="images/artcoolt-carousel-01.jpg" class="d-block w-100" alt="Artcoolt">
    </div>
    <div class="carousel-item">
        <div class="content2">
            <div class="content2-title">Comparte tus Posts!</div>
            <div class="content2-sub">Comparte tus posts de un concierto en el que estuviste o del artista que te encanta!</div>
          </div>
      <img src="images/artcoolt-carousel-02.jpg" class="d-block w-100" alt="Artcoolt">
    </div>
    <div class="carousel-item">
        <div class="content3">
            <div class="content3-title">Encuentra tu Local</div>
            <div class="content3-sub">Busca el local perfecto e el que poder actuar e invita a tus followers!</div>
              <div class="content3-botones">
                <a href="/login"><div class="content3-boton-1">Comienza</div></a>
              </div>
          </div>
      <img src="images/artcoolt-carousel-04.jpg" class="d-block w-100" alt="Artcoolt">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> <!-- Fin de Carousel -->

