<div class="wrapper-login">
  <div class="form-container">

    <div class="logo-login">
      <img src="../images/logo-artcoolt-login-pink.png" >
    </div>

    <form action="/login" method="POST" class="mb-3" autocomplete="off">
      <div class="form-email">
        <label for="email">email</label>
        <input name="email" type="email" class="form-control {{#if error.email }}is-invalid{{/if}}" id="email"
          placeholder="Enter email" value="{{ user.email }}">

        {{#if error.email}}
        <div class="invalid-feedback">
          {{error.email}}
        </div>
        {{/if}}
      </div>



      <div class="form-password">
        <label for="password">password</label>
        <input name="password" type="password" class="form-control {{#if error.password }}is-invalid{{/if}}"
          id="password" placeholder="password" value="{{ user.password }}">

        {{#if error.password}}
        <div class="invalid-feedback">
          {{error.password}}
        </div>
        {{/if}}
      </div>


      <button type="submit" class="btn-login-in">
        Log in
      </button>
    </form>

    <div class="signin">
      <a href="/users/new">Sign up</a>
    </div>

{{!-- <div class="social-log">
  <div class="google">
    <form action="/google" method="post" class="mb-3">
      <button class="btn-google" type="submit">
        <i class="fa fa-google"></i>
        Login with Google
      </button>
    </form>
  </div>

  <div class="facebook">
    <form action="/facebook" method="post" class="mb-3">
      <button class="btn-facebook" type="submit">
        <i class="fa fa-facebook"></i> Login with Facebook
      </button>
    </form>
  </div>

  <div class="slack">
    <form action="/slack" method="post">
      <button class="btn-slack" type="submit">
        <i class="fa fa-slack"></i> Login with Slack
      </button>
    </form>
  </div>
</div> --}}


  </div>
</div>